//styles and includes specific to admin basic

body {
  padding-top: 50px;
}


//top-bar styles
.navbar-inverse {

  .navbar-brand {
    color: $white;
  }

  .greeting-wrapper {
    padding: 15px;
    margin-right: -15px;
    margin-left: 30px;
    float: right;
    color: $gray-light;
    line-height: 1.8;
    font-size: 0.8em;

    .greeting {
    }

    .welcome {
      padding-right: 5px;
      margin-right: 5px;
      border-right: 1px solid $gray-light;
    }
  }

}

//sidebar
.sidebar {
  padding: 20px;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;

  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
  }
}

.border-bottom {
  border-bottom: 1px dotted #eee;
}

//todo: move this
.header-links {
  margin-left: 10px;
  font-size: 60%;
  font-weight: 300;

  > a {
    margin-left: 20px;

    &:hover {
    }

    &.active {
      text-decoration: underline;
    }
  }

}

.highlight {
  border: 5px solid green;
}
